In [9]:
# remove warnings
import warnings
warnings.filterwarnings('ignore')
# ---

%matplotlib inline
import pandas as pd
pd.options.display.max_columns = 100
from matplotlib import pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import numpy as np

from sklearn import base

pd.options.display.max_rows = 100

In [37]:
pwd

u'C:\\Users\\cnyi\\Box Sync\\Kaggle\\titanic'

In [5]:
data = pd.read_csv('data/train.csv')

In [39]:
data.shape

(891, 12)

In [40]:
data.describe() # Age is missing

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [41]:
data['Age'].fillna(data['Age'].median(), inplace=True)

In [42]:
data.describe() # replace missing Age with Median

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [43]:
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [ ]:
def status(feature):

    print 'Processing',feature,': ok'

In [14]:
from sklearn import base

class Createdummy(base.BaseEstimator, base.TransformerMixin):
    
    def __init__(self,column_name):
        self.column_name=column_name
        
    
    def fit(self, data):
        return self

    
    def transform(self, data):
        import pandas as pd
        data=pd.DataFrame(data)
        new_data=pd.get_dummies(data[self.column_name])
        new_data=data.join(new_data)
        new_data.drop(self.column_name,1,inplace=True)
        return new_data

In [6]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16.0,0,0,S.O./P.P. 3,10.5000,NaN,S
842,843,1,1,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C
843,844,0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C
844,845,0,3,"Culumovic, Mr. Jeso",male,17.0,0,0,315090,8.6625,NaN,S
845,846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.5500,NaN,S
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,NaN,S
847,848,0,3,"Markoff, Mr. Marin",male,35.0,0,0,349213,7.8958,NaN,C
848,849,0,2,"Harper, Rev. John",male,28.0,0,1,248727,33.0000,NaN,S
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
852,853,0,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [16]:
Createdummy(['Sex','Embarked']).fit_transform(data)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,0,1,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,1,0,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,0,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,1,0,0,0,1
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,0,1,0,0,1
5,6,0,3,"Moran, Mr. James",NaN,0,0,330877,8.4583,NaN,0,1,0,1,0
6,7,0,1,"McCarthy, Mr. Timothy J",54.0,0,0,17463,51.8625,E46,0,1,0,0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",2.0,3,1,349909,21.0750,NaN,0,1,0,0,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",27.0,0,2,347742,11.1333,NaN,1,0,0,0,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",14.0,1,0,237736,30.0708,NaN,1,0,1,0,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",4.0,1,1,PP 9549,16.7000,G6,1,0,0,0,1
11,12,1,1,"Bonnell, Miss. Elizabeth",58.0,0,0,113783,26.5500,C103,1,0,0,0,1
12,13,0,3,"Saundercock, Mr. William Henry",20.0,0,0,A/5. 2151,8.0500,NaN,0,1,0,0,1
13,14,0,3,"Andersson, Mr. Anders Johan",39.0,1,5,347082,31.2750,NaN,0,1,0,0,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",14.0,0,0,350406,7.8542,NaN,1,0,0,0,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",55.0,0,0,248706,16.0000,NaN,1,0,0,0,1
16,17,0,3,"Rice, Master. Eugene",2.0,4,1,382652,29.1250,NaN,0,1,0,1,0
17,18,1,2,"Williams, Mr. Charles Eugene",NaN,0,0,244373,13.0000,NaN,0,1,0,0,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",31.0,1,0,345763,18.0000,NaN,1,0,0,0,1
19,20,1,3,"Masselmani, Mrs. Fatima",NaN,0,0,2649,7.2250,NaN,1,0,1,0,0
20,21,0,2,"Fynney, Mr. Joseph J",35.0,0,0,239865,26.0000,NaN,0,1,0,0,1
21,22,1,2,"Beesley, Mr. Lawrence",34.0,0,0,248698,13.0000,D56,0,1,0,0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",15.0,0,0,330923,8.0292,NaN,1,0,0,1,0
23,24,1,1,"Sloper, Mr. William Thompson",28.0,0,0,113788,35.5000,A6,0,1,0,0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",8.0,3,1,349909,21.0750,NaN,1,0,0,0,1
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",38.0,1,5,347077,31.3875,NaN,1,0,0,0,1
26,27,0,3,"Emir, Mr. Farred Chehab",NaN,0,0,2631,7.2250,NaN,0,1,1,0,0
27,28,0,1,"Fortune, Mr. Charles Alexander",19.0,3,2,19950,263.0000,C23 C25 C27,0,1,0,0,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",NaN,0,0,330959,7.8792,NaN,1,0,0,1,0
29,30,0,3,"Todoroff, Mr. Lalio",NaN,0,0,349216,7.8958,NaN,0,1,0,0,1
30,31,0,1,"Uruchurtu, Don. Manuel E",40.0,0,0,PC 17601,27.7208,NaN,0,1,1,0,0
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",NaN,1,0,PC 17569,146.5208,B78,1,0,1,0,0
32,33,1,3,"Glynn, Miss. Mary Agatha",NaN,0,0,335677,7.7500,NaN,1,0,0,1,0
33,34,0,2,"Wheadon, Mr. Edward H",66.0,0,0,C.A. 24579,10.5000,NaN,0,1,0,0,1
34,35,0,1,"Meyer, Mr. Edgar Joseph",28.0,1,0,PC 17604,82.1708,NaN,0,1,1,0,0
35,36,0,1,"Holverson, Mr. Alexander Oskar",42.0,1,0,113789,52.0000,NaN,0,1,0,0,1
36,37,1,3,"Mamee, Mr. Hanna",NaN,0,0,2677,7.2292,NaN,0,1,1,0,0
37,38,0,3,"Cann, Mr. Ernest Charles",21.0,0,0,A./5. 2152,8.0500,NaN,0,1,0,0,1
38,39,0,3,"Vander Planke, Miss. Augusta Maria",18.0,2,0,345764,18.0000,NaN,1,0,0,0,1
39,40,1,3,"Nicola-Yarred, Miss. Jamila",14.0,1,0,2651,11.2417,NaN,1,0,1,0,0
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",40.0,1,0,7546,9.4750,NaN,1,0,0,0,1
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",27.0,1,0,11668,21.0000,NaN,1,0,0,0,1
42,43,0,3,"Kraeff, Mr. Theodor",NaN,0,0,349253,7.8958,NaN,0,1,1,0,0
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",3.0,1,2,SC/Paris 2123,41.5792,NaN,1,0,1,0,0
44,45,1,3,"Devaney, Miss. Margaret Delia",19.0,0,0,330958,7.8792,NaN,1,0,0,1,0
45,46,0,3,"Rogers, Mr. William John",NaN,0,0,S.C./A.4. 23567,8.0500,NaN,0,1,0,0,1
46,47,0,3,"Lennon, Mr. Denis",NaN,1,0,370371,15.5000,NaN,0,1,0,1,0
47,48,1,3,"O'Driscoll, Miss. Bridget",NaN,0,0,14311,7.7500,NaN,1,0,0,1,0
48,49,0,3,"Samaan, Mr. Youssef",NaN,2,0,2662,21.6792,NaN,0,1,1,0,0
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",18.0,1,0,349237,17.8000,NaN,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,842,0,2,"Mudd, Mr. Thomas Charles",16.0,0,0,S.O./P.P. 3,10.5000,NaN,0,1,0,0,1
842,843,1,1,"Serepeca, Miss. Augusta",30.0,0,0,113798,31.0000,NaN,1,0,1,0,0
843,844,0,3,"Lemberopolous, Mr. Peter L",34.5,0,0,2683,6.4375,NaN,0,1,1,0,0
844,845,0,3,"Culumovic, Mr. Jeso",17.0,0,0,315090,8.6625,NaN,0,1,0,0,1
845,846,0,3,"Abbing, Mr. Anthony",42.0,0,0,C.A. 5547,7.5500,NaN,0,1,0,0,1
846,847,0,3,"Sage, Mr. Douglas Bullen",NaN,8,2,CA. 2343,69.5500,NaN,0,1,0,0,1
847,848,0,3,"Markoff, Mr. Marin",35.0,0,0,349213,7.8958,NaN,0,1,1,0,0
848,849,0,2,"Harper, Rev. John",28.0,0,1,248727,33.0000,NaN,0,1,0,0,1
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",NaN,1,0,17453,89.1042,C92,1,0,1,0,0
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",4.0,4,2,347082,31.2750,NaN,0,1,0,0,1
851,852,0,3,"Svensson, Mr. Johan",74.0,0,0,347060,7.7750,NaN,0,1,0,0,1
852,853,0,3,"Boulos, Miss. Nourelain",9.0,1,1,2678,15.2458,NaN,1,0,1,0,0
853,854,1,1,"Lines, Miss. Mary Conover",16.0,0,1,PC 17592,39.4000,D28,1,0,0,0,1
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",44.0,1,0,244252,26.0000,NaN,1,0,0,0,1
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",18.0,0,1,392091,9.3500,NaN,1,0,0,0,1
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",45.0,1,1,36928,164.8667,NaN,1,0,0,0,1
857,858,1,1,"Daly, Mr. Peter Denis",51.0,0,0,113055,26.5500,E17,0,1,0,0,1
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",24.0,0,3,2666,19.2583,NaN,1,0,1,0,0
859,860,0,3,"Razi, Mr. Raihed",NaN,0,0,2629,7.2292,NaN,0,1,1,0,0
860,861,0,3,"Hansen, Mr. Claus Peter",41.0,2,0,350026,14.1083,NaN,0,1,0,0,1
861,862,0,2,"Giles, Mr. Frederick Edward",21.0,1,0,28134,11.5000,NaN,0,1,0,0,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",48.0,0,0,17466,25.9292,D17,1,0,0,0,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",NaN,8,2,CA. 2343,69.5500,NaN,1,0,0,0,1
864,865,0,2,"Gill, Mr. John William",24.0,0,0,233866,13.0000,NaN,0,1,0,0,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",42.0,0,0,236852,13.0000,NaN,1,0,0,0,1
866,867,1,2,"Duran y More, Miss. Asuncion",27.0,1,0,SC/PARIS 2149,13.8583,NaN,1,0,1,0,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",31.0,0,0,PC 17590,50.4958,A24,0,1,0,0,1
868,869,0,3,"van Melkebeke, Mr. Philemon",NaN,0,0,345777,9.5000,NaN,0,1,0,0,1
869,870,1,3,"Johnson, Master. Harold Theodor",4.0,1,1,347742,11.1333,NaN,0,1,0,0,1
870,871,0,3,"Balkic, Mr. Cerin",26.0,0,0,349248,7.8958,NaN,0,1,0,0,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",47.0,1,1,11751,52.5542,D35,1,0,0,0,1
872,873,0,1,"Carlsson, Mr. Frans Olof",33.0,0,0,695,5.0000,B51 B53 B55,0,1,0,0,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",47.0,0,0,345765,9.0000,NaN,0,1,0,0,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",28.0,1,0,P/PP 3381,24.0000,NaN,1,0,1,0,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",15.0,0,0,2667,7.2250,NaN,1,0,1,0,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",20.0,0,0,7534,9.8458,NaN,0,1,0,0,1
877,878,0,3,"Petroff, Mr. Nedelio",19.0,0,0,349212,7.8958,NaN,0,1,0,0,1
878,879,0,3,"Laleff, Mr. Kristo",NaN,0,0,349217,7.8958,NaN,0,1,0,0,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",56.0,0,1,11767,83.1583,C50,1,0,1,0,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",25.0,0,1,230433,26.0000,NaN,1,0,0,0,1
881,882,0,3,"Markun, Mr. Johann",33.0,0,0,349257,7.8958,NaN,0,1,0,0,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",22.0,0,0,7552,10.5167,NaN,1,0,0,0,1
883,884,0,2,"Banfield, Mr. Frederick James",28.0,0,0,C.A./SOTON 34068,10.5000,NaN,0,1,0,0,1
884,885,0,3,"Sutehall, Mr. Henry Jr",25.0,0,0,SOTON/OQ 392076,7.0500,NaN,0,1,0,0,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",39.0,0,5,382652,29.1250,NaN,1,0,0,1,0
886,887,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,0,1,0,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,1,0,0,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,1,0,0,0,1
889,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,0,1,1,0,0
890,891,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,0,1,0,1,0

In [47]:
data_sex=data.join(pd.get_dummies(data['Sex']))

In [52]:
data_sex.drop('Sex',1,inplace=True)

In [53]:
data_sex

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,0,1
5,6,0,3,"Moran, Mr. James",28.0,0,0,330877,8.4583,NaN,Q,0,1
6,7,0,1,"McCarthy, Mr. Timothy J",54.0,0,0,17463,51.8625,E46,S,0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",2.0,3,1,349909,21.0750,NaN,S,0,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",27.0,0,2,347742,11.1333,NaN,S,1,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",14.0,1,0,237736,30.0708,NaN,C,1,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",4.0,1,1,PP 9549,16.7000,G6,S,1,0
11,12,1,1,"Bonnell, Miss. Elizabeth",58.0,0,0,113783,26.5500,C103,S,1,0
12,13,0,3,"Saundercock, Mr. William Henry",20.0,0,0,A/5. 2151,8.0500,NaN,S,0,1
13,14,0,3,"Andersson, Mr. Anders Johan",39.0,1,5,347082,31.2750,NaN,S,0,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",14.0,0,0,350406,7.8542,NaN,S,1,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",55.0,0,0,248706,16.0000,NaN,S,1,0
16,17,0,3,"Rice, Master. Eugene",2.0,4,1,382652,29.1250,NaN,Q,0,1
17,18,1,2,"Williams, Mr. Charles Eugene",28.0,0,0,244373,13.0000,NaN,S,0,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",31.0,1,0,345763,18.0000,NaN,S,1,0
19,20,1,3,"Masselmani, Mrs. Fatima",28.0,0,0,2649,7.2250,NaN,C,1,0
20,21,0,2,"Fynney, Mr. Joseph J",35.0,0,0,239865,26.0000,NaN,S,0,1
21,22,1,2,"Beesley, Mr. Lawrence",34.0,0,0,248698,13.0000,D56,S,0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",15.0,0,0,330923,8.0292,NaN,Q,1,0
23,24,1,1,"Sloper, Mr. William Thompson",28.0,0,0,113788,35.5000,A6,S,0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",8.0,3,1,349909,21.0750,NaN,S,1,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",38.0,1,5,347077,31.3875,NaN,S,1,0
26,27,0,3,"Emir, Mr. Farred Chehab",28.0,0,0,2631,7.2250,NaN,C,0,1
27,28,0,1,"Fortune, Mr. Charles Alexander",19.0,3,2,19950,263.0000,C23 C25 C27,S,0,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",28.0,0,0,330959,7.8792,NaN,Q,1,0
29,30,0,3,"Todoroff, Mr. Lalio",28.0,0,0,349216,7.8958,NaN,S,0,1
30,31,0,1,"Uruchurtu, Don. Manuel E",40.0,0,0,PC 17601,27.7208,NaN,C,0,1
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",28.0,1,0,PC 17569,146.5208,B78,C,1,0
32,33,1,3,"Glynn, Miss. Mary Agatha",28.0,0,0,335677,7.7500,NaN,Q,1,0
33,34,0,2,"Wheadon, Mr. Edward H",66.0,0,0,C.A. 24579,10.5000,NaN,S,0,1
34,35,0,1,"Meyer, Mr. Edgar Joseph",28.0,1,0,PC 17604,82.1708,NaN,C,0,1
35,36,0,1,"Holverson, Mr. Alexander Oskar",42.0,1,0,113789,52.0000,NaN,S,0,1
36,37,1,3,"Mamee, Mr. Hanna",28.0,0,0,2677,7.2292,NaN,C,0,1
37,38,0,3,"Cann, Mr. Ernest Charles",21.0,0,0,A./5. 2152,8.0500,NaN,S,0,1
38,39,0,3,"Vander Planke, Miss. Augusta Maria",18.0,2,0,345764,18.0000,NaN,S,1,0
39,40,1,3,"Nicola-Yarred, Miss. Jamila",14.0,1,0,2651,11.2417,NaN,C,1,0
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",40.0,1,0,7546,9.4750,NaN,S,1,0
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",27.0,1,0,11668,21.0000,NaN,S,1,0
42,43,0,3,"Kraeff, Mr. Theodor",28.0,0,0,349253,7.8958,NaN,C,0,1
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",3.0,1,2,SC/Paris 2123,41.5792,NaN,C,1,0
44,45,1,3,"Devaney, Miss. Margaret Delia",19.0,0,0,330958,7.8792,NaN,Q,1,0
45,46,0,3,"Rogers, Mr. William John",28.0,0,0,S.C./A.4. 23567,8.0500,NaN,S,0,1
46,47,0,3,"Lennon, Mr. Denis",28.0,1,0,370371,15.5000,NaN,Q,0,1
47,48,1,3,"O'Driscoll, Miss. Bridget",28.0,0,0,14311,7.7500,NaN,Q,1,0
48,49,0,3,"Samaan, Mr. Youssef",28.0,2,0,2662,21.6792,NaN,C,0,1
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",18.0,1,0,349237,17.8000,NaN,S,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,842,0,2,"Mudd, Mr. Thomas Charles",16.0,0,0,S.O./P.P. 3,10.5000,NaN,S,0,1
842,843,1,1,"Serepeca, Miss. Augusta",30.0,0,0,113798,31.0000,NaN,C,1,0
843,844,0,3,"Lemberopolous, Mr. Peter L",34.5,0,0,2683,6.4375,NaN,C,0,1
844,845,0,3,"Culumovic, Mr. Jeso",17.0,0,0,315090,8.6625,NaN,S,0,1
845,846,0,3,"Abbing, Mr. Anthony",42.0,0,0,C.A. 5547,7.5500,NaN,S,0,1
846,847,0,3,"Sage, Mr. Douglas Bullen",28.0,8,2,CA. 2343,69.5500,NaN,S,0,1
847,848,0,3,"Markoff, Mr. Marin",35.0,0,0,349213,7.8958,NaN,C,0,1
848,849,0,2,"Harper, Rev. John",28.0,0,1,248727,33.0000,NaN,S,0,1
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",28.0,1,0,17453,89.1042,C92,C,1,0
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",4.0,4,2,347082,31.2750,NaN,S,0,1
851,852,0,3,"Svensson, Mr. Johan",74.0,0,0,347060,7.7750,NaN,S,0,1
852,853,0,3,"Boulos, Miss. Nourelain",9.0,1,1,2678,15.2458,NaN,C,1,0
853,854,1,1,"Lines, Miss. Mary Conover",16.0,0,1,PC 17592,39.4000,D28,S,1,0
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",44.0,1,0,244252,26.0000,NaN,S,1,0
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",18.0,0,1,392091,9.3500,NaN,S,1,0
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",45.0,1,1,36928,164.8667,NaN,S,1,0
857,858,1,1,"Daly, Mr. Peter Denis",51.0,0,0,113055,26.5500,E17,S,0,1
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",24.0,0,3,2666,19.2583,NaN,C,1,0
859,860,0,3,"Razi, Mr. Raihed",28.0,0,0,2629,7.2292,NaN,C,0,1
860,861,0,3,"Hansen, Mr. Claus Peter",41.0,2,0,350026,14.1083,NaN,S,0,1
861,862,0,2,"Giles, Mr. Frederick Edward",21.0,1,0,28134,11.5000,NaN,S,0,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",48.0,0,0,17466,25.9292,D17,S,1,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",28.0,8,2,CA. 2343,69.5500,NaN,S,1,0
864,865,0,2,"Gill, Mr. John William",24.0,0,0,233866,13.0000,NaN,S,0,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",42.0,0,0,236852,13.0000,NaN,S,1,0
866,867,1,2,"Duran y More, Miss. Asuncion",27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,1,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",31.0,0,0,PC 17590,50.4958,A24,S,0,1
868,869,0,3,"van Melkebeke, Mr. Philemon",28.0,0,0,345777,9.5000,NaN,S,0,1
869,870,1,3,"Johnson, Master. Harold Theodor",4.0,1,1,347742,11.1333,NaN,S,0,1
870,871,0,3,"Balkic, Mr. Cerin",26.0,0,0,349248,7.8958,NaN,S,0,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",47.0,1,1,11751,52.5542,D35,S,1,0
872,873,0,1,"Carlsson, Mr. Frans Olof",33.0,0,0,695,5.0000,B51 B53 B55,S,0,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",47.0,0,0,345765,9.0000,NaN,S,0,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",28.0,1,0,P/PP 3381,24.0000,NaN,C,1,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",15.0,0,0,2667,7.2250,NaN,C,1,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",20.0,0,0,7534,9.8458,NaN,S,0,1
877,878,0,3,"Petroff, Mr. Nedelio",19.0,0,0,349212,7.8958,NaN,S,0,1
878,879,0,3,"Laleff, Mr. Kristo",28.0,0,0,349217,7.8958,NaN,S,0,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",56.0,0,1,11767,83.1583,C50,C,1,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",25.0,0,1,230433,26.0000,NaN,S,1,0
881,882,0,3,"Markun, Mr. Johann",33.0,0,0,349257,7.8958,NaN,S,0,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",22.0,0,0,7552,10.5167,NaN,S,1,0
883,884,0,2,"Banfield, Mr. Frederick James",28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0,1
884,885,0,3,"Sutehall, Mr. Henry Jr",25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",39.0,0,5,382652,29.1250,NaN,Q,1,0
886,887,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,S,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,S,1,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",28.0,1,2,W./C. 6607,23.4500,NaN,S,1,0
889,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,C,0,1
890,891,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,Q,0,1